@font-face {
    font-family: FontePadrao;
    src: url(../fonte/cc-astro-city-int.ttf);
}

html{
    /*font-family:FontePadrao;*/
	font-family: 'Montserrat', sans-serif;
	font-size:0.7rem;
	
}



 
#container{
    padding-top:0.3125rem; /*5px*/
    margin:auto;
    width:100%;
}
 
body{
    box-sizing: border-box;
    background-image:url(../imagens/footer_lodyas.png);
    background-size: contain;
    margin:0;
    position: relative;
	
}	
 
header{
    position: fixed;
    width:100%;
    height:3.75rem; /*60px*/
    background-color: black;
    z-index: 2;
    top:0;
   
}
header nav{
    /*margin-top: 0.9375rem;*/ /*15px*/
   /* margin: auto;
    list-style: none;
    z-index: 2;
    max-width: 800px;
    min-width: 800px;
    background-color: yellow;*/
}
/*header nav ul {
  width:100%;
  list-style: none;
}*/
 
/*header nav ul li{
    width: 15%;
    margin: 0;
    margin-top:20px;
    min-width: 15%;*/
    /*padding: 3rem;*/
   /* float:left;
    z-index: 2;*/
   /*background-color:blue;*/



 
ul,li{
    margin: 0;
}
li {
  text-align: center;
}
nav a{
    text-decoration: none;
}
 
nav a:link{
    color:white;
}
 
nav a:visited{
    color: white;
}
 
nav a:hover{
    background-color:white;
    color:black;
   
}
 
h1{
    left:15%;
    position: fixed;
    width:3.125rem; /*50px*/
    height:3.125rem; /*50px*/
    background-image:url(../imagens/Logo-Quadriculando.png);
    background-size: contain;
    text-indent: -1000rem;
    z-index: 2;
    margin-right: 10%;
    margin-top: 5px;
    top:0;
}

h2{
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding-top: 50px; 
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
 
.btn-primary{
background-color:white;
}
 
main{
    
    margin: auto;
    margin-top: 3.4375rem; /*55px*/
    background-color: white;
    width:80%;
	max-width:1536px;
    /*height:50rem; /*(800px)*/
	/*max-height:50rem;
    min-height: 50rem;  */
    height:1000px;
   
}

label{
background:black;
color:white;
width:100%;
margin:0;
}

form{
font-size:2rem;
width:50%;
margin:auto;
border:5px solid black;
}

input{
width:100%;
border:none;
border-bottom-style: solid;
}

[type="submit"]{
width:50%;
margin-left:25%;
background-color:black;
color:white;
padding:10px;
}

[type="submit"]:hover{
background-color:#555;
}

textarea{
width:100%;
max-width:100%;
max-height:300px;
border:none;
}

.socials{
font-size:1.5rem;
width:50%;
margin:auto;
}

.socials a{
color:black;
margin:0;
padding:0;
}

.socials a:hover{
color:#555;
}
 
#n-footer li{
width:100%;
}

[class="fa fa-instagram fa-5x"]{
float:right;
}

#mapa-site{
    font-size: 0.75rem; /*12px*/
}
nav#mapa-site ul{
    padding: 0;
    margin: 0;
}
nav#mapa-site ul li{
    text-align: left;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

main p{
	font-size:1.25rem;
	margin-top:25px;
	margin-left:25px;
}

[src="imagens/quadriculando-sobre.jpg"]{
max-width:25%;
min-width:200px;
float:right;
border:5px solid black;
margin:0 20px 0 20px;
}

p a{
color:black;

}

p a:active{
color:white;
}

p a:hover{
background-color:black;
color:white;
text-decoration:none;
}



/*SWIPER*/
.swiper-container {
        width: 100%;
        height: 200px;
		max-height:300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: white;
        width: 60%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide:nth-child(2n) {
        width: 40%;
    }
    .swiper-slide:nth-child(3n) {
        width: 20%;
    }

.swiper-slide img{
    max-width: 100%;
	min-width:50px;
    width: auto;
    height: auto;
}


.artistas-portrait{
box-sizing: border-box;
width:100%;
max-width:100%;
min-width:100%;
height:10%;
/*background-color:yellow;*/
position:relative;
margin-left:1.5%;
margin-bottom:10%;
}

div.artistas-portrait ul,li{
list-style:none;
padding:0;
margin:0;
}


div.artistas-portrait ul li img{
margin-right:1%;
max-width:13%;
min-width:13%;
float:left;
border:5px solid black;
}

.toggle{
background-color:black;
width:100%;
height:1200px;
}

div.toggle{display: none;}

.galeria img{
width:100%;
padding-bottom:10%;
padding-right:15%;
padding-left:15%;

}

.galeria{
background-color:black;
float:left;
width:25%;
height:auto;
}

h3{
color:white;
padding-top:3%;
padding-bottom:30px;
text-align:center;
}

.toggle p{
width:70%; /*34pct pra mobile, remember this, cunt*/
float:left;
font-size:1.5rem;
color:white;
text-align:justify;
margin:0;
padding-bottom:0;
background-color:black;
}




 
 
/*MEDIA QUERY*/

@media(max-width:380px){
h2{
font-size:1.5rem;
}
}

@media(min-width:1800px) and (max-width:5000px){
.toggle p{
font-size:2.25rem;
}
}

@media(max-width:580px){
[src="imagens/quadriculando-sobre.jpg"]{
margin-left:100%;
}

@media(max-width:480px){
.galeria img{

width:200px;

}
.toggle p{
width:90%;
margin:0 5% 0 5%;
font-size:1.5rem;
}
div.galeria{
width:100%;    
}
li.trigger a img{
min-width:31.5%!important;  
max-width:31.5%!important;
    margin-bottom: 0.5%;
}
.artistas-portrait{
margin-bottom:55%;
}

[type="submit"]{
margin:0;
width:100%;
}

input,textarea{
font-size:1.5rem;
}

}

/*
@media(max-width:680px){
    ul li{
        display:none;
    }
    
    ul li:last-child{
        display: block;
    }
    
    h1{
        left:315px;
    }
    html{
        width:680px;
    }
	main{margin-top: 230px; /*55px*/}
    
    /*header nav ul li:nth-child(2){
        margin-top: 50px;
    }
    header nav ul li{
        font-size: 1.25rem;
        width: 75%;
    }
    
    footer ul li,p{
        font-size: 1.25rem;
    }
    
    
    
    header{
        height:235px;
    }
}*/